.text-input {
  border: 1px solid #b5b5b5;
  height: 40px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.text-input--stretch {
  width: 100%;
} 

.text-input__credential {
  @extend .text-input;
  border-radius: 3px;
  margin: $m-size 0 0 0;
  width: 100%;
  &::placeholder {
    color: darken($light-grey, 10%);
  }
}

.select {
  @extend .text-input;
  font-size: $font-size-medium;
  padding: 0 0 0 $s-size;
}

.textarea {
  @extend .text-input;
  height: 10rem;
}

